[submodule "graph-node-container/graph-node"]
	path = graph-node-container/graph-node
	url = https://github.com/graphprotocol/graph-node.git
[submodule "memefactory-subgraph"]
	path = memefactory-subgraph
	url = https://github.com/graphprotocol/memefactory-subgraph.git
