.header {
  height: 3em;
  background-color: #202124;
  display: flex;
  align-items: center;
}

.header .left {
  width: 50%;
  padding-left: 1em;
}

.header a {
  text-decoration: none;
}

.header .left * {
  margin-right: 1em;
}

.header .right {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}

.header .right * {
  margin-right: 1em;
}

.blockies-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.blockies-container .identicon {
  border-radius: 20px;
}

.button {
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
  background-color: #fafafa;
  color: black;
  cursor: pointer;
  box-shadow: 1px 3px 0px 0px rgba(0,0,0,0.75); 
}

.button:hover {
  filter: invert(100%);
}

.buy-soul {
  cursor: pointer;
}
