body {
  font-family: "Slabo 27px", serif;
  display: flex;
  flex-direction: column;
}

.root {
  text-align: center;
  flex: 1;
  display: flex;
}

.textcontent {
  padding: 20px;
}

.wrapper {
  min-height: calc(100vh);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: inline-block;
}

.art-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
  width: 100%;
}

.piece-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root h1 {
  margin-left: 2em;
}

.art-piece {
  width: 65%;
  height: 65%;
}

.art-info {
  display: flex;
  flex: 1;
  text-align: left;
  margin-top: 30px;
  width: 65%;
  max-height: 100px;
}

.art-info .price,
.art-info .timeleft,
.art-info .last-bidder {
  font-size: 2em;
  font-weight: bolder;
}

.art-info .generator {
  width: 300px;
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2em;
  font-weight: bolder;
}

.art-info .timeleft {
  min-width: 300px;
  flex-basis: 300px;
  margin: 0 8%;
}

.art-info .price {
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.art-info .button {
  height: 30px;
  width: 50px;
}

.art-info .price::before,
.art-info .timeleft::before,
.art-info .generator::before,
.art-info .last-bidder:before {
  font-size: 0.5em;
  display: block;
  border-bottom: 1px dotted black;
}

.art-info .price::before {
  content: "Price";
}

.art-info .last-bidder::before {
  content: "Last Bidder";
}

.art-info .price-unit {
  font-size: 3em;
}

.art-info .timeleft::before {
  content: "Time left";
}

.art-info .generator::before {
  content: "Generator";
}

.art-info input {
  width: 40%;
  margin-left: 10%;
  font-size: 3em;
  border: none;
  outline: none;
  background-color: #fafafa;
}

.bid-button {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
  text-align: center;
}

.historical-pieces {
  display: flex;
  margin-top: 2em;
  text-align: center;
}

.historical-pieces img {
  width: 300px;
  display: inline-block;
}

.box1,
.box2,
.box3 {
  min-width: 0;
} /* See http://stackoverflow.com/q/26895349/ */
.box1 {
  flex: 0 30%;
} /* Initial width of 200, won't grow, can shrink if necessary */
.box2 {
  flex: 30%;
} /* Initial width of 400, grows to fill available space, can shrink if necessary */
.box3 {
  flex: 0 30%;
} /* Initial width of 400, won't grow, can shrink if necessary */

.historical-info-wrapper {
  background-color: #fafafa;
  box-shadow: 1px 3px 0px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  display: inline-block;
}

.no-border-button {
  border-left: none;
  border-right: none;
}

.historical-info {
  width: 300px;
  text-align: left;
  display: flex;
}

.historical-info p {
  margin-left: 2em;
}

.historical-info p.sold-for::before,
.historical-info p.generator::before {
  display: block;
  border-bottom: 1px dashed black;
  width: 80%;
  margin-bottom: 1em;
  font-size: 0.7em;
}

.historical-info p.sold-for::before {
  content: "Sold for";
}

.historical-info p.generator::before {
  content: "Generator";
}

.color-text {
  color: white;
}

.color-soul {
  color: #ffd200;
}

.background-color-soul {
  background-color: #ffd200;
}
