.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 4px;
}

.intro {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thinglist {
  display: flex;
}

.thinglist li {
  list-style: none;
  flex-grow: 1;
}