body {
  font-family: 'Slabo 27px', serif;
}

.root {
  text-align: center;
}

.horizontal {
  display: inline-block;
}

.art-root {
  display: flex;
  margin: 3em;
}

.art-piece {
  width: 70%;
  height: 70%;
}

.art-info {
  flex: 1;
}

.timeleft {
  font-size: 2em;
  font-weight: bolder;
}

.historical-pieces { 
  display: flex;
  margin-top: 2em;
  text-align: center;
}

.historical-pieces img {
  width: 15em;
  display: inline-block;
}

.box1, .box2, .box3 { min-width: 0 } /* See http://stackoverflow.com/q/26895349/ */
.box1 { flex: 0 30%;} /* Initial width of 200, won't grow, can shrink if necessary */
.box2 { flex: 30% } /* Initial width of 400, grows to fill available space, can shrink if necessary */
.box3 { flex: 0 30% } /* Initial width of 400, won't grow, can shrink if necessary */

.color-text{
  color: white;
}

.color-soul {
  color: #FF8A65;
}

.background-color-soul {
  background-color: #FF8A65;
}
