.page {
  height: 100%;
  position: relative;
}

.editorpage {
  display: flex;
  flex-direction: row;

}

.actionBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 20px;
}