.table {
  margin-top: 3em;
  margin-left: 3%;
  margin-right: 3%;
}

.row {
  display: flex; 
  flex-wrap: wrap;
  border: 1px solid black;
  margin-bottom: 1em;
  box-shadow: 1px 3px 0px 0px rgba(0,0,0,0.75); 
}

.row .column {
  flex: 1 0 15%;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 5%;
  font-size: 1.3em;
}

.bond-button {
  float: right;
  margin-right: 1em;
}

body .large-go {
  padding-top: 30px;
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  font-size: 0.9em;
  padding: 6px 4px;
}

.randomHex::before, .name::before, .currentStake::before, .creator::before {
  font-size: 0.5em;
  display: block;
  border-bottom: 1px dashed black;
}

.randomHex::before {
  content: "Address";
}

.creator::before {
  content: "Creator";
}

.name::before {
  content: "Name";
}

.currentStake::before {
  content: "Current Stake";
}
